name: Auto-merge Exercism Sync
on:
  pull_request:
    types: [opened, synchronized, reopened]

jobs:
  auto-merge:
    runs-on: ubuntu-latest
    # This change handles both the name and the [bot] suffix
    if: contains(github.event.pull_request.user.login, 'exercism-solutions-syncer')
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Auto-merge PR
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh pr merge ${{ github.event.pull_request.number }} --merge --admin
